<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=1024; charset=ISO-8859-1">
		
		<title>US Vice Presidents list</title>
	</head>
	<body id="vice-president-list-page">

	<header>
		<div id="top-header"></div>
		<div id="header">
			<div class="container">
				<!-- 				
				<a id=" " href="#"><img id="logo" alt="any Logo" title="Vice-PresidentsUSA" src="#" width=71 height=38></a>
				<a id="logo-link" href="#"><img id="logo" alt="PresidentsUSA.net Logo" title="Vice-PresidentsUSA.net" src="#" width="204" height="18" /></a>
				 -->
			</div>
		</div>
		
	</header>
	
	<section>
	 <nav>
		<div class="row">
			<ul class="main-nav js--main-nav">
				<li><a href="index.php">Add President</a></li>
				<li><a href="index.php?controller=Presidents">List Presidents</a></li>
				<li><a href="index.php?controller=VicePresidents">List Vice-Presidents</a></li>
				<li><a href="index.php?controller=PresidentsVicePresidents">Links between</a></li>
			</ul>
			<a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
		</div>
		</nav>
		<div class="hero-text-box">
			<h1>Think.<br>Just Think.</h1>
			<a class="btn btn-full js--scroll-to-plans" href="#">I'm Slow</a>
			<a class="btn btn-ghost js--scroll-to-start" href="#">Show me more</a>
		</div>
	
	</section>
	
	<footer>
		<div class="row">
			<div class="col span-1-of-2">
				<ul class="footer-nav">
					<li><a href="#">About us</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Press</a></li>
					<li><a href="#">iOS App</a></li>
					<li><a href="#">Android App</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<p>
				This webpage Is Just Learning No copyrights here.<br>
				This webpage is for you! So go and do whatever you want with it and have fun.
			</p>
			<p>
				Build with <i class="ion-ios-heart" style="color: #ea0000; padding: 0 3px;"></i> in the beautiful city of Plovdiv, July 2016.
			</p>
		</div>
	</footer>
</body>

</html>